# Ignore vendor folder
/vendor/

# OS / IDE
.DS_Store
nbproject/
.idea/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Runtime / cache
runtime/*
!runtime/.htaccess
!runtime/index.html
