# System
.DS_Store

# Composer dependencies
/vendor/

# Runtime / temp files
/runtime/*
!runtime/.htaccess
!runtime/index.html

# IDE files
/nbproject/
/.idea/*

# Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
